body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: Blue;
    background-color: Pink;
 }
p {
  font-size: 200%;
  background-color: LightBlue;
}

div#main {
    width: 90%;

    margin-left: 5%;
    maright-right: 5%;

}

