body {
    font-family: Helvetica, Arial, sans-serif;

}

h1 {
    color: White;
    background-color: Black;
 }
p {
  font-size: 200%;
  background-color: LightBlue;
}

div#main {
    width: 90%;

    margin-left: 5%;
    maright-right: 5%;

}

